<html>
    <head>
        <title>yoga classes</title>
        <link rel="stylesheet" href="css/main.css">
        <script src="https://code.jquery.com/jquery-3.6.1.js"
    integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
    crossorigin="anonymous"></script>
    <link rel="icon" type="image/x-icon" href="../images/yoga.png">
    </head>
    <script>
        var colors = ["black", "white"]
var currentColor = 0

function changeColor() {
  --currentColor
  if (currentColor < 0) currentColor = colors.length -1
  for (var i = 0; i <2; i++) {
    document.getElementById("head").style.color = colors[(currentColor +i) % colors.length]
  }
}

setInterval(changeColor, 2000);
        $(document).ready(function(){
            $('#age').keyup(function(){
                //console.log($(this).val());
                    //Matching password
                   if($(this).val()>=18 && $(this).val()<=65){
                    $("#warning").html("You are allowed to register");
                    $("#warning").css("color","green");
                    
                   }
                   else
                   $("#warning").html("you are not allowed to register");
                });
            $('#phone').keyup(function(){
                var a = $(this).val();
    var filter = /^((\+[1-9]{1,4}[ \-]*)|(\([0-9]{2,3}\)[ \-]*)|([0-9]{2,4})[ \-]*)*?[0-9]{3,4}?[ \-]*[0-9]{3,4}?$/;
    if (filter.test(a)) {
        $("#warn").html("valid");
        $("#warn").css("color","green");
    }
    else {
        $("#warn").html("contains only numbers");
        $("#warn").css("color","red");
    }
            })
            
        });
    </script>
    <body>
        <header>
            <div class="overlay">
        <h1 id="head">welcome to yoga classes</h1>
    </div>
    </header>
        <div class="box">
            <h3>fill your information</h1>
                <form action="/submit" method="post">
                    <div class="name">
                        <label for="firstname"><bold>first name</bold></label>
                        <input type="text" name="firstname" required>
                        <label for="middlename">middle name</label>
                        <input type="text" name="middlename" >
                        <label for="lastname"> last name</label>
                        <input type="text" name="lastname" required>
                    </div>
                    <br>
                    <label for="gender">gender</label>
                    <select name="gender" required>
                        <option value="select">select</option>
                        <option value="male">male</option>
                        <option value="female">female</option>
                        <option value="dont want to disclose">dont want to disclose</option>
                    </select>
                    <br>
                    <br>
                    <label for="dob">date of birth</label>
                    <input type="date" name="dob"  required>
                    <br>
                    <br>
                    <label for="age"> age</label>
                    <input type="number" name="age" id="age" required>
                    <br>
                    <span id="warning"></span>
                    <br>
                    <label for="email">email</label>
                    <input type="email" name="email"  required>
                    <br>
                    <br>
                    <lable for="contactno">contact number</lable>
                    <input type="text" name="contactno" id="phone" required>
                    <br>
                    <span id="warn"></span>
                    <br>
            
                    <label for="start">Start month:</label>
                    <input type="month" id="start" name="start" min="2023-01" value="2023-01" required>
                    <br>
                    <br>
                    <label for="batch">select your batch(remains same for this month)</label>
                    <select name="batch" required>
                        <option value="6-7AM">6-7 AM</option>
                        <option value="7-8AM">7-8 AM</option>
                        <option value="8-9AM">8-9 AM</option>
                        <option value="5-6PM">5-6 PM</option>
                    </select>
                    <br>
                    <br>
                    <input type="checkbox" name="checkbox" required>
                    <label for="checkbox">your fees for this month is 500rs (do you agree)</label>
                    <div class="but">
                        <input type="submit" value="register">
                    </div>
                </form>
        </div>
    </body>
</html>